.about {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  .logo-container {
    text-align: center;
    position: relative;
    z-index: 100;
    transition-delay: 1.5;
    .logo {}
  }
  .description-container {
    background: rgba(#000, .5);
    position: absolute;
    width: 100%;
    display: block;
    top: 150px;
    .description {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 10px;
      transition-delay: 1.5s;
    }
  }
}