@import "settings";
html {
  overflow-y: scroll;
}
body {
  background: url('../images/body-bg.jpg') no-repeat;
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1D1D1D; 
  color: #fff;
  line-height: 1.6em;
}
/*
* Removes any margin/padding to an Unordered list
* And removes the bullets.
*/
@mixin cleanList(){
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  transition: .3s ease color;
  &:hover {
    text-decoration: none;
  }
}

.more-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  margin-right: 15px;
  background: #fff;
  border: 3px solid #3b5298;
  text-align: center;
  padding: 3px;
  font-size: 11px;
  color: #333;
  border-radius: 10px;
}

.table {
  background: rgba(#000, .5);
  border-radius: 5px;
  tbody {
    tr {
      transition: .3s ease background;
      &:nth-child(even) {
        background: rgba(#000, .5);
      }
      &:hover {
        background: rgba(#3b5298, .5);
      }
      td {
        border: none;
      }
    }
  }
}

.main-header {
  background: #2e3338;
  background-image: -moz-linear-gradient( 90deg, rgb(29,31,36) 0%, rgb(50,56,61) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(29,31,36) 0%, rgb(50,56,61) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(29,31,36) 0%, rgb(50,56,61) 100%);
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.2) inset;
  border-bottom: 5px solid #5c93e8;
}

.main-nav {
  text-align: center;
  .nav-container {
    @include cleanList;
    .nav-item {
      display: inline-block;
      &:last-child {
        margin: 0;
      }
      a {
        display: block;
        color: #fff;
        text-shadow: 0 1px 0 #000;
        font-weight: bold;
        padding: 15px 10px;
        &.supporter-link {
          color: #ffe847;
          &:hover {
            color: #ffe847 + 20;
          }
        }
      }
    }
  }
}

.about {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  .logo-container {
    text-align: center;
    position: relative;
    z-index: 100;
    transition-delay: 1.5;
    .logo {}
  }
  .description-container {
    background: rgba(#000, .5);
    position: absolute;
    width: 100%;
    display: block;
    top: 150px;
    .description {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 10px;
      transition-delay: 1.5s;
    }
  }
}

.servers {
  opacity: 0;
  margin-top: 105px;
  padding: 0;
}
.servers-container {
  margin: 0;
  padding: 0;
  @extend .clearfix;
}
.server {
  $theme-color: #3b5298;
  float: left;
  margin-right: 25px;
  list-style-type: none;
  width: 373px;
  &:last-child {
    margin-right: 0;
  }
  &.status-offline {
    opacity: 0.3;
    transition: .3s ease all;
    &:hover {
      opacity: 1;
    }
  }
  .server-header {
    background: $theme-color;
    @extend .clearfix;
    .server-title, .server-state {
      padding: 10px;
    }
    .server-title { 
      @extend .pull-left;
      padding: 10px 6px;
      .server-main-title, .server-sub-title {
        margin: 0;
        padding: 0;
      }
      .server-main-title {
        font-size: 16px;
        font-weight: bold;
      }
      .server-sub-title {
        font-size: 12px;
        position: relative;
        top: 3px;
      }
    }
    .server-state {
      @extend .pull-right;
      font-size: 11px;
      width: 100px;
      text-align: center;
      opacity: 0;
      background: #9B0000;
      width: 110px;
      text-shadow: 1px 1px #22AE25;
      &.online {
        background: #5CCB5D;
      }
    }
  }
  .server-content {
    background: #1d1d1d;
    height: 150px;
    position: relative;
    overflow: hidden;
    p {
      padding: 20px 10px;
    }
    .server-link {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: block;
      text-align: center;
      padding: 5px 0;
      background: rgba(#000, .5);
      transition: .3s ease background;
      color: #fff;
      &:hover {
        background: $theme-color;
      }
    }
  }
  .server-connection {
    background: #161616;
    padding: 10px;
    text-align: center;
    .server-address {
      font-weight: bold;
    }
    .connection-content {
      color: #727272;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 100;
    }
  }
}

.servers-center {
  .table {
    opacity: 0;
    tbody {
      tr {

      }
    }
  }
  .total-players-online {
    @include cleanList;
    li {
      display: inline-block;
      float: left;
      margin-right: 16px;
    }
  }
}

a.has-tooltip {
  position: relative;
  display: inline;
}
a.has-tooltip span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.has-tooltip span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.has-tooltip span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

.store-frame {
  width: 100%;
  height: 650px;
}

.notfound {
  margin: 70px auto 0px;
  display: block;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.06);
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);
}


.footer-copyright {
  background: rgba(0, 0, 0, 0.34);
  border-radius: 3px;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}